/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 28, 2015, 4:54:16 PM
    Author     : Benny
*/
body {
    overflow:  hidden; /* in IE 11, there will be a horizon scroll bar for body, need to be disabled */
}

#main-content {
    padding: 0; /* there is padding default，which will cause a gap between the handle and left side edge */
}

/*/////////////////////// logo and score style ////////////////////////*/
#game-logo {
    width: 36vw;
    margin-top: 3vh;
    display: inline-block;
    vertical-align: middle;
}

#game-logo img {
    max-width:100%;
}
/*
How to draw my game title image:
1. Create a image with 300*100
2. Type a text "fusion", font Comic Sans MS, size 100, style Bold, color blue(R63 G157 B212) or orange(R212 G89 B40)
3. Adjust position, save as title.png
*/

#score {
    width: 48vw;
    display: inline-block;
    text-align: right;
    font-size: 1.1em;
    vertical-align: text-top;
}

#score h1, #score h2 {
    display: inline;
    margin-right: 0.2em;
}

#score h1 {
    color: green;
}


/*/////////////////////// menu handle ////////////////////////*/

/* menu handle occupy the whole left side. title and slots will float at its right side */
#menu-handle {
    height: 100vh;
    float: left;
}

#menu-handle-img {
    padding: 0; /* no gap between handle and screen left side*/
    width: 6vw;
    margin-top: 36vh; /* vertical middle*/
    margin-right: 2.5vw;/* reasonable space with slots */
}

/* How to draw a menu handle image：
1. Create a 60*300 image by pixlr;
2. Draw a right half round retangle, border color black, border size 5, fill shape with white, radius 100;
3. Draw a inner half round retangle, no border, fill shape with color(R212 G141 B59), radius 100
4. Create another layer
5. Draw 2 lines, color black, size 12, one is from (42,150) to (17,123), another is from (42,150) to (17,177)
6. Draw 2 lines, color white, size 6, one is from (42,150) to (17,123), another is from (42,150) to (17,177)
7. Save this canvas as swipe-right.png, with transparent.
8. Flip the lines layer
9. Save this canvas as swipe-left.png, with transparent.
*/


/*/////////////////////// game zone ////////////////////////*/
#slots-wrapper {
    margin-top: 3vh;
    display: inline-block; /* float on right side of menu-handle */
    width: 85vw;    /* fill full screen in landscape mode */
}

#slots {
    width: 85vw; /* use viewport width to fullfill responsible page */
    height: 85vw;
    
    margin: auto; /* will effect landscape */

    padding-left: 0.8%;
    padding-top: 0.8%;
    border-radius: 5px;

    background: gray;
    position: relative; /* let children elements follow when screen is changed */
}

.slot {
    display: inline-block;
    background: lightgray;
    border-radius: 4px;
}

.cube {
    text-align: center;
    border-radius: 4px;
    
    position: absolute;
    /* for transition when cube is moving */
    -webkit-transition:left 0.2s, top 0.2s;
}

.cube img {
    width: 100%;
    height: 100%;
}

.number1 {background: Azure; color: black;}
.number2 {background: snow; color: black;}
.number4 {background: papayaWhip; color: black;}
.number8 {background: #66CCFF; color: white;}
.number16 {background: #FF99FF; color: white;}
.number32 {background: coral; color: white;}
.number64 {background: OrangeRed; color: white;}
.number128 {background: Gold; color: white;}
.number256 {background: #009933; color: white;}
.number512 {background: Orange; color: white;}
.number1024 {background: #3366FF; color: white;}
.number2048 {background: GoldenRod; color: white;}
.number4096 {background: #003300; color: white;}
.number8192 {background: #000066; color: white;}
.number16384 {background: Black; color: white;}
.number32768 {background: #CC3300; color: white;}
.number65536 {background: #FF0000; color: white;}

.showCube {
    /* animation when a cube is created */
    -webkit-animation-duration: 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: 'Showup';
}
@-webkit-keyframes Showup {
    from {
        -webkit-transform: scale(0.1,0.1);
    }
    to {
        -webkit-transform: scale(1.0,1.0);
    }
}

.mergedCube {
    -webkit-animation-duration: 0.2s;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-direction: alternate;
    -webkit-animation-name: 'MergeCube';
}
@-webkit-keyframes MergeCube {
    to {
        -webkit-transform: scale(1.1,1.1);
    }
}

/*/////////////////////// menu panel style ////////////////////////*/
.panel-form { padding:.8em 1.2em; font-family: Lucida Console, sans-serif;}
.panel-form h2 { color:#555; margin:0 0 .8em 0; padding-bottom:.5em; border-bottom:1px solid rgba(0,0,0,.1); }
.panel-form label { display:block; margin-top:1.2em; }
.panel-form label img { width: 1em;}
.switch .ui-slider-switch { width: 6.5em !important }
.ui-grid-a { margin-top:1em; padding-top:.8em; margin-top:1.4em; border-top:1px solid rgba(0,0,0,.1); }


/*/////////////////////// game over page style ////////////////////////*/
.game-action-title {
    text-align: center;
    height: 5em;
    color: goldenrod;
}

.game-over-score, .best-score {
    text-align: center;
    width: 40vw;
    height: 4em;
    display: inline-block;
    overflow: hidden;
}

.game-over-score {
    margin-left: 5vw;
}

.game-over-score h2, .game-over-score h3, .best-score h2, .best-score h3 {
    display: inline;
    margin: 0.2em;
}


.top-players {
    width: 80vw;
    margin: auto auto 0 auto;
    border-radius: 10px;
    border: solid 3px gray;
    text-align: center;
    padding: 0.2em 0 0.2em 0;
}

/* if without this repeated style, the high score frame will lost the bottom border, not knowing reason */
#top-players-in-highscore {
    border: solid 3px gray;
}

/* title */
.top-players :first-child {
    color: goldenrod;
    font-weight: bold;
}

/* top players */
.player-item {
    display: inline-block;
    height: 6vw;
    border-bottom: solid 1px gray;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    overflow:    hidden;
    line-height: 6vw;
    font-weight:  bolder;
}

.player-rank {
    width: 16vw;
    color: #FF6600;
}
.player-name {
    width: 40vw;
    font-style: oblique;
}

.player-score {
    width: 20vw;
}

/* the last line without underline */
.top-players :nth-last-child(1), :nth-last-child(2), :nth-last-child(3){
    border-bottom: none;
}

/* user's record should be highlight' */
.top-player-highlight {
    background: #006600;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray !important; 
}
.player-rank.top-player-highlight {
    border-left: solid 1px gray;
    border-radius: 10px 0 0 10px;
}
.player-score.top-player-highlight {
    border-right: solid 1px gray;
    border-radius: 0 10px 10px 0;
}

.my-rank {
    width: 80vw;
    margin: auto auto 1em auto;
    text-align: center;
    padding: 0.2em 0 0.2em 0;
}

#input-name-frame {
    width: 75vw;
    margin: auto auto 1em auto;
    border-radius: 10px;
    border: solid 3px gray;
    text-align: center;
    padding: 0.2em 1em 1em 1em;
}

#input-name-frame input {
    background: lightgray;
    color: #006600; /* green */
}
.game-action-btn {
    display: inline-block;
    width: 38vw;
    margin-left: 5vw;
}

.game-action-btn .ui-btn {
    font-size: 1.2em;
}

.central-btn {
    margin-left: 25vw;
}

/*/////////////////////// revive page style ////////////////////////*/
#rewind-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    
    background: black;
    opacity: 0.6;
    font-size: 4vh;
    text-align: center;
    color: white;
    
    display: none;
}

#rewind-wrapper p {
    margin-top: 33vh;
}

/*///////////////////// screen landscape adjust ///////////////////*/
@media only screen and (orientation : landscape){
#game-logo {
    width: 36vh;
    margin-top: 3vh;
}

#menu-handle-img {
    width: 6vh;
    margin-right: 2.5vh;/* reasonable space with slots */
}

#slots {
    width: 70vh; /* use viewport width to fullfill responsible page */
    height: 70vh;
}

} /*/////// end of screen landscape adjust ////////*/

